body {

    background-color: rgb(12, 155, 250);
    font-family: sans-serif;
}

header {

    display: flex;
    justify-content: center;
    color: white;
    width: 100%;
}

header h1 {

    font-size: 3em;
}

nav {

    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 100%;
}

button {

    cursor: pointer;
    padding: 20px 70px;
    font-size: 20px;
    background-color: rgb(48, 48, 248);
    color: white;
    border: 1px solid white;


}

nav button {

    margin: 0px 0px;

}



.sectionGame{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    margin-top: 100px;
}

.sectionGame img{

    width: 400px;
}


.Questions{

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Questions p {

    font-size: 1.5em;
}
.Questions  > ol {

    margin-top: 30px ;
}

.Questions > ol > li {

    font-size: 20px;
    margin-top: 10px;
}

.sectionGame #rejouer{

    background-color: green;
}

.compteurBarre{

    border: 2px solid white;
    width: 80%;
    height: 70px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}

.compteurBarre::before{

    position: absolute;
    content: "";
    width: 0%;
    height: 100%;
    background-color: green;
    animation: barreCompteurColor 60s ;

}

@keyframes barreCompteurColor {

    70%{
        background-color: orange;
    }

    90%{

        background-color: red;
        width: 100%;
    }
    
}