body {

    background-color: rgb(12, 155, 250);
    font-family: sans-serif;
}

header {

    display: flex;
    justify-content: center;
    color: white;
    width: 100%;
}

header h1 {

    font-size: 3em;
}

nav {

    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    flex-wrap: wrap;
    width: 100%;
}



button {

    cursor: pointer;
    padding: 20px 70px;
    font-size: 20px;
    background-color: rgb(48, 48, 248);
    color: white;
    border: 1px solid white;


}

nav button {

    margin: 0px 0px;

}



.sectionGame{
    position: relative;
    flex-flow:  wrap;
    margin-top: 100px;
}

.sectionGame img{

    position: absolute;
    left: 100px;
    width: 400px;
    height: 300px;
    
}


.Questions{

    position: absolute;
    right: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Questions p {

    font-size: 1.5em;
}
.Questions  > ol {

    margin-top: 30px ;
}

.Questions > ol > li {

    font-size: 20px;
    margin-top: 10px;
}

.resultat{

    font-size: 4em;
}


.compteurRejouer{

    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.compteurRejouer #rejouer{

    background-color: green;
    position: absolute;
    bottom: -200px;
    
    

}

.compteurRejouer .compteurBarre {
    position: absolute;
    bottom: -100px;
}
.compteurBarre{

    border: 2px solid white;
    width: 85%;
    height: 70px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}

.compteurBarre::before{

    position: absolute;
    content: "";
    width: 0%;
    height: 100%;
    background-color: green;
    animation: barreCompteurColor 60s ;

}

@keyframes barreCompteurColor {

    70%{
        background-color: orange;
    }

    90%{

        background-color: red;
        width: 100%;
    }
    
}



ol li a{

        color: white;
        text-decoration: none;
}

ol li a:hover{

    color: rgb(230, 207, 9);
}


@media screen and (width-max: 800px) {
    nav {

        justify-content: center;
        flex-direction: column;
    }
}